{% extends "admin/base_site.html" %}
{% load i18n %}
{% block branding %}
<h1 id="site-name"><a href="accounts/login">{{ site_header|default:_('Attendance system') }}</a></h1>
{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>{% endblock %}

{% block content %}

<p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>

<p><a href="/accounts/login">{% trans 'Log in again' %}</a></p>

{% endblock %}