{%  extends 'logged_in_layout.html' %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %}
        Factory attendance system
            {% endblock title %}
    </title>
</head>
<body >
{% block body %}
    {% block breadcrumbs %}
        <div class="breadcrumbs" >
            <a href="/">{% trans 'Home' %}</a>
            <a href="/staff_list"  style="margin-left: 5em; position: absolute">{% trans 'View Staff list' %}</a>
            <a href="/report_choice"  style="margin-left: 15em; position: absolute">{% trans 'Choose report' %}</a>




        </div>
    {% endblock %}


{% block content %}


{% endblock %}
{% endblock body %}
</body>
</html>