{% extends "admin/base_site.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>
{% block branding %}
<h1 id="site-name">{{ site_header|default:_('Attendance system') }}</h1>
{% endblock %}

</head>
<body >
{% block body %}

    <div name="content">
    {% block content %}

    {% endblock %}
    </div>
{% endblock body %}
{% block nav-global %}

    <a href="accounts/logout"><input name="logout"  type="button" value="logout" style="margin-left: 60%"></a>
{% endblock %}
</body>
</html>