{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body >
{% block body %}
    <div name="sidebar">
    {% block sidebar %}


    {% endblock sidebar %}
    </div>
    <div name="content">
    {% block main_content %}

    {% endblock main_content %}
    </div>
{% endblock body %}
</body>
</html>