<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<h1>Attendance Report for {{ month }} {{ year }}</h1>
<table>
    <thead ><strong style="padding-right: 10em">Staff</strong></thead>
    <thead ><strong style="padding-right: 10em">Total days</strong></thead>
    <thead ><strong style="padding-right: 10em">Total working days</strong></thead>



{% for staff in staffs %}

     <tr>
         <td>{{ staff.first_name }}</td>
         {% if records %}
        <td style="padding-left: 10em">{{ records.pop}}</td>

        {% endif %}
      {% endfor %}


     </tr>






</table>
<div style="margin-top: 20em"><a href="/">Go Home</a></div>
<div style="margin-top: 1em"><a href="/download_report/{{ month }}/{{ year }}">download</a></div>


</body>
</html>