{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> select</title>
</head>
<body>
{% block content %}
    <form method="post">
    {% csrf_token %}
    {{ form.as_table }}
    <input name="submit" value="submit" type="submit">
    </form>

{% endblock %}


</body>
</html>