<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<h1>Attendance Report for {{ month }} {{ year }}</h1>
<table>
    <thead ><strong style="padding-right: 10em">Staff</strong></thead>
    <thead ><strong style="padding-right: 10em">Total days</strong></thead>
    <thead ><strong style="padding-right: 10em">Total working days</strong></thead>



{% for staff in staffs %}

     <tr>
         <td>{{ staff.first_name }}</td>
         {% if records %}
        <td style="padding-left: 10em">{{ records.pop}}</td>
           <a href="{% url 'overall_report' %}">download</a> <input name="submit" value="download" type="submit">

        {% endif %}
      {% endfor %}
     </tr>






</table>


</body>
</html>