{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff list</title>
</head>
<body>

{% block content %}

<table style="margin:1px">
    {% if staff_list %}
        <thead > <strong style="padding-right: 2em; font-size: 2em">Staff id</strong></thead>
        <thead> <strong style="padding-right: 2em; font-size: 2em">Name </strong></thead>
        <thead> <strong style="padding-right: 2em; font-size: 2em">Level</strong></thead>

        {% for staff in staff_list %}
            <tr>
            <td style="padding-right: 10em">{{ staff.id }}</td>
            <td style="padding-right: 10em"><a href="staff_profile/{{ staff.first_name }}"> {{ staff.first_name }}</a></td>
             <td>{{ staff.level }}</td>
            </tr>
        {% endfor %}
    {% endif %}
{% if  not staff_list %}
    <h1>No staff is registered</h1>
    {% endif %}
</table>
{% endblock %}



</body>
</html>