{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff list</title>
</head>
<body>

{% block content %}
    {% if staff_details %}
    <div><img src="{% static 'media/' %}{{ staff_details.image }}" height="100" width="100" style="border: #3db6c7 thick; border-radius: 30px " >
</div>

    <div>
    <table>
    <thead>Details</thead>

        <tr> <td>Name : {{ staff_details.first_name }}</td></tr>
        <tr> <td>Level : {{ staff_details.level }}</td></tr>
        <tr> <td> Age : {{ staff_details.age }}</td></tr>

        <tr> <td> Gender : {{ staff_details.gender }}</td></tr>
        <tr> <td>Status : {{ staff_details.current_status }}</td> </tr>
        <tr> <td>Date enrolled :{{ staff_details.date_registered.date }} </td></tr>
        <tr> <td>Time enrolled :{{ staff_details.date_registered.time }} </td></tr>


     </table>
        </div>
{% endif %}
{% endblock %}



</body>
</html>