{% extends 'logged_in_layout.html' %}
    {% block title %}
        Who is This ?
    {% endblock title %}
{% block body %}

    {% block main_content %}

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        </form>

        <p>{{ name }}</p>
    {% endblock main_content %}
{% endblock body %}
